{
  "extends": "standard",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
      "camelcase": [0, { "properties": "never"}],
      "no-mixed-spaces-and-tabs": [0, "smart-tabs"],
    "strict": [2, "global"],
    "comma-dangle": 0,
    "semi": [2, "never"],
    "max-len": [0, 150, 2],
    "indent":[2,2, {"SwitchCase": 1}],
    "key-spacing": [2, {"beforeColon": false, "afterColon": false, "mode": "minimum"}],
     "quote-props": [2, "as-needed", { "keywords": false, "unnecessary": false }],
     "arrow-body-style": [2, "always"],
     "object-shorthand": [0, "always"],
     "no-unused-vars": [2],
     "no-console": 1,
     "consistent-return": 2,
     "arrow-spacing": 2,
     "arrow-parens": [2, "always"],
     "no-unused-expressions": [2, { "allowShortCircuit": true, "allowTernary": true }]
    },
  "ecmaFeatures": {
        "arrowFunctions": true,                   // enable arrow functions
        "binaryLiterals": true,                   // enable binary literals
        "blockBindings": true,                    // enable let and const (aka block bindings)
        "classes": true,                          // enable classes
        "defaultParams": true,                    // enable default function parameters
        "destructuring": true,                    // enable destructuring
        "forOf": true,                            // enable for-of loops
        "generators": true,                       // enable generators
        "modules": true,                          // enable modules and global strict mode
        "objectLiteralComputedProperties": true,  // enable computed object literal property names
        "objectLiteralDuplicateProperties": true, // enable duplicate object literal properties in strict mode
        "objectLiteralShorthandMethods": true,    // enable object literal shorthand methods
        "objectLiteralShorthandProperties": true, // enable object literal shorthand properties
        "octalLiterals": true,                    // enable octal literals
        "regexUFlag": true,                       // enable the regular expression u flag
        "regexYFlag": true,                       // enable the regular expression y flag
        "restParams": true,                       // enable the rest parameters
        "spread": true,                           // enable the spread operator
        "superInFunctions": true,                 // enable super references inside of functions
        "templateStrings": true,                  // enable template strings
        "unicodeCodePointEscapes": true,          // enable code point escapes
        "globalReturn": true,                     // allow return statements in the global scope
        "jsx": true                               // enable JSX
    },
}
