node_modules
code/front/node_modules
code/front/config/.env
code/front/config/.env.stage
code/front/config/.env.prod
code/sandbox/node_modules
code/sandbox/config/.env
code/sandbox/config/.env.stage
code/sandbox/config/.env.prod
